a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

a:hover {
  color: #3a4660;
}

body {
  background-color: #c9af98;
  color: #3a4660;
  font-size: 16px;
  line-height: 1.2;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.25em;
  font-weight:
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  text-decoration: none;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  width: 50%;
}
